body {
}
h1 {
    text-align: center;
}

#left {
    width: 50%;
    float: left;
    display: inline-block;
}
#right {
    float: right;
    width: 50%;
    height: 400px;
    overflow: scroll;
    display: inline-block;
}
.clear {
    clear: both;
}